<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 custom-aside d-none d-sm-block">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-90">
      <header href="/" class="d-flex align-items-center p-3 mb-md-0 me-md-auto text-black">
          <span class="fs-5 d-none d-sm-inline">About us</span>
      </header>
      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
              <p class="align-middle px-0 text-black">
                  <span class="ms-1 d-none d-sm-inline">For orders and enquiries</span>
              </p>
          </li>
          <a class="dropdown-toggle text-black text-decoration-none" href="#" id="navbardrop" data-bs-toggle="dropdown">
            Telephone number
          </a>
          <ul class="dropdown-menu">
            <li><p class="dropdown-item" >Spain Tel/WhatsApp (+34) 666 666 666</p></li>
            <li><p class="dropdown-item" >Russia Tel/WhatsApp (+7) 966 666 66 66</p></li>
          </ul>
          <li>
                <p class="text-black">info@bc-porcelain.com</p>
          </li>
          <li>
            <form action="products.html">
              <input type="submit" value="Discount products" class="primaryButton"/>
            </form>
          </li>
          <li>
            <form action="contact-us.html">
              <input type="submit" value="Contact us" class="secondaryButton"/>
            </form>
          </li>
      </ul>

  </div>
</div>
