<nav class="navbar navbar-expand-sm">
  <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mynavbar">

  <ul class="navbar-nav me-auto d-flex justify-content-evenly">
    <li class="nav-item">
      <a class="nav-link" routerLink="home" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="signup_in" href="signup_in">User profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="products" href="products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="home" href="home">Location</a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-sm-none d-lg-flex" routerLink="contact" href="contact">Contact us!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-sm-none d-lg-flex" routerLink="products" href="products">Porcelain</a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-sm-none d-lg-flex" routerLink="products" href="products">Tableware</a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-sm-none d-lg-flex" routerLink="products" href="products">Glassware</a>
    </li>
    <li class="nav-item dropdown d-none d-sm-block d-lg-none">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
        More ...
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item d-lg-none" routerLink="contact" href="contact">Contact us!</a></li>
        <li><a class="dropdown-item d-lg-none" routerLink="products" href="products">Porcelain</a></li>
        <li><a class="dropdown-item d-lg-none" routerLink="products" href="products">Tableware</a></li>
        <li><a class="dropdown-item d-lg-none" routerLink="products" href="products">Glassware</a></li>
      </ul>
    </li>
  </ul>
</div>
</nav>
