<main class="container-fluid">
  <div class="row d-flex flex-md-row">
  <div class="col py-3">
    <!--Zona de contenido-->
      <div class="container-sm text-black custom-container">
        <div class="h2 text-center m-2">Who are we?</div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <h3>Exclusive products</h3>
                <p>Porcelain, cut glass, crystal, silver tableware of highest standards</p>
                <p>Our shop offers exclusive brands of fine bone china, glassware and tablewares </p>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h3>Meissen</h3>
                <p>During 300 years MEISSEN manufactory has been making en exclusive porcelain – the synonym of passion, uniqueness and timelessness.</p>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h3>Riedel</h3>
                <p>The Riedel family has been in the glass business for 300 years, with 11 generations keeping the family business intact. The Riedel story begins in 1678 in the northern part of Bohemia, bordering Schlesia - today the Czech republic and Poland respectively. This part of Bohemia was a German speaking enclave known as the Sudetenland.</p>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h3>Robbe & Berking</h3>
                <p>At least 93 of the 200 biggest yachts in the world are fitted with Robbe & Berking silver and at least 93 Michelin stars distinguish the manufacturer's restaurant customers. In Flensburg, however, those who decide on products from one or both of the manufacturers are not called customers, but friends. Friends, who have been loyal to the brand, some for generations, expect work of the highest quality from the Flensburg silver and yacht manufacturer, a company which has been achieving excellence for five generations and for over 135 years.</p>
            </div>
        </div>
    </div>

    <div class=" row d-flex flex-md-row-reverse">

    </div>
  </div>
</div>
</main>
