<header class="navbar navbar-expand-sm navbar-custom custom-header">
  <div class="d-flex justify-content-between container-fluid ">
    <div class="flex-grow-1">
      <a class="navbar-brand" href="#">
        <img src="assets/bc.gif" alt="logo" style="width: 150px">
      </a>
    </div>

    <div class="p-3 px-md-4 mb-3">
      <!-- <form class="d-flex d-none d-md-flex ">
        <input class="form-control me-2 mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="button">Search</button>
      </form> -->
      <div><p *ngIf="isSignedIn" class="card-text">Welcome, <strong>{{UserProfile?.name}}</strong></p></div>
      <button class="btn btn-outline-warning my-2" (click)="signOut()" *ngIf="isSignedIn">Log out</button>
    </div>
  </div>
</header>
