<div class="col">
  <div class="card h-100" >
    <img class="card-img-top" [src]="data.imagen ? imagePath+data.imagen : 'assets/noimage.jpg'" alt="{{data.nombre}} image" style="width:100%">
    <div class="card-body d-flex flex-column">
      <h4 class="card-title">{{data.nombre}}</h4>
      <p class="card-text">Category: {{getCategoryName(data.id_cat)}}</p>
      <p class="card-text">{{data.descripcion}}</p>
      <a href="#" class="btn secondaryButton w-100 mt-auto">More information</a>
    </div>
  </div>
</div>
