<div class="col">
  <div class="card h-100" >
    <img class="card-img-top" [src]="data.imagen ? imagePath+data.imagen : 'assets/noimage.jpg'" alt="product image" style="width:100%">
    <div class="card-body d-flex flex-column">
      <h4 class="card-title">{{data.nombre}}</h4>
      <!--If category names are called here, the page makes too many HTTP requests (error 429)-->
      <!-- <p class="card-text">Category: {{getCategoryName(data.id_cat)}}</p> -->
      <p class="card-text">{{data.descripcion | slice: 0:50}}</p>
      <div class="card-footer text-muded">
        <div>Price: {{data.precio | currency:'EUR':'symbol'}}</div>
      </div>
      <div class="d-flex flex-row ">
        <div class="col">
          <a [routerLink]="[data.id]" class="btn secondaryButton w-100 mt-auto">More information</a>
        </div>
        <div *ngIf="userProfileRole === 1" class="col">
          <button class="btn primaryButton w-100 mt-auto" (click)="addToCart(data.id)">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
