<div class="card container" >
  <img [src]="product.imagen ? imagePath+product.imagen : 'assets/noimage.jpg'" class="card-img-top img-fluid" alt="product image">
  <div class="card-body">
    <div class="h4 card-title">{{product.nombre}}</div>
    <p class="card-text">Category: {{getCategoryName(product.id_cat)}}</p>
    <p class="card-text">{{product.descripcion}}</p>
    <p class="card-text">Product code: {{product.cod_prod}}</p>
    <p class="cart-text h3 text-end">Remaining stock: {{product.cantidad}}</p>
  </div>
  <hr>
  <div class="card-footer text-muded">
    <div>Precio: {{product.precio | currency:'EUR':'symbol'}}</div>
  </div>
  <div class="d-flex flex-row justify-content-around">
    <div *ngIf="UserProfile?.id_role == 0" class="col d-flex justify-content-start">
      <button class="btn btn-danger ml-3" (click)="deleteProduct()">Delete</button>
    </div>
    <div *ngIf="UserProfile?.id_role == 0" class="my-1 mx-3 p-3 custom-container">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-group">

          <label for="cantidad">Update product quantity</label>
          <input type="number" formControlName="cantidad" name="cantidad" id="cantidad" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors, 'is-valid': submitted && f.cantidad.valid }" placeholder="{{product.cantidad}}">

        </div>
        <button type="submit" class="btn btn-dark btn-sm mt-4">Update quantity</button>
      </form>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-primary ml-3" (click)="goBack()">Return</button>
    </div>
  </div>
</div>
