<div class="container-lg">
  <form class="form mt-3">
    <div class="form-group row">
      <label for="filterNombre" class="col-form-label col-sm-2 text-sm-right">Filter products by name:</label>
      <div class="col-sm-5">
        <input name="filterNombre" type="text" [(ngModel)]="filterNombre" class="form-control" placeholder="Product name...">
      </div>
      <label class="col-form-label col-sm-5">
        Filtered by: {{filterNombre}}
      </label>
    </div>
  </form>
  <div *ngIf="UserProfile?.id_role == 0" class="my-1 mx-3 p-3 custom-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-group">

        <label for="prod_name">Insert product name</label>
        <input type="text" formControlName="prod_name" name="prod_name" id="prod_name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.prod_name.errors }">

        <div *ngIf="submitted && f.prod_name.errors" class="invalid-feedback">
          <div *ngIf="f.prod_name.errors.required">Name required</div>
        </div>

        <label for="prod_name">Insert product code</label>
        <input type="text" formControlName="cod_prod" name="cod_prod" id="cod_prod" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.cod_prod.errors }">

        <div *ngIf="submitted && f.cod_prod.errors" class="invalid-feedback">
          <div *ngIf="f.cod_prod.errors.required">Product code required</div>
        </div>

        <label for="id_cat">Select product category</label>
        <select name="id_cat" class="form-select" id="id_cat" formControlName="id_cat">
          <option  *ngFor="let c of prodCategories" [ngValue]="c.id">
            {{c.nombre}}
          </option>
        </select>

        <div *ngIf="submitted && f.id_cat.errors" class="invalid-feedback">
          <div *ngIf="f.id_cat.errors.required">Product category required</div>
        </div>

        <label for="prod_desc">Insert product description</label>
        <input type="text" formControlName="prod_desc" name="prod_desc" id="prod_desc" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.prod_desc.errors }">

        <div *ngIf="submitted && f.prod_desc.errors" class="invalid-feedback">
        </div>

        <label for="precio">Insert product price</label>
        <input type="number" formControlName="precio" name="precio" id="precio" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.precio.errors, 'is-valid': submitted && f.precio.valid }">

        <div *ngIf="submitted && f.precio.errors" class="invalid-feedback">
          <div *ngIf="f.precio.errors?.required">Product price required</div>
          <div *ngIf="f.precio.errors?.pattern">Price pattern must be 0000.00</div>
        </div>

        <label for="image">Post image of product</label>
        <input type="file" formControlName="image" name="image" id="image" class="form-control"
        (change)="uploadImage($event)" [ngClass]="{ 'is-invalid': submitted && f.image.errors }">

        <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
          <div *ngIf="f.image.errors.required">Image required</div>
        </div>

      </div>
      <button type="submit" class="btn btn-dark btn-sm mt-4">Submit product</button>
    </form>
  </div>
</div>

<div class="container-lg">
  <div class="col py-3">
    <div class="container my-1 mx-3 row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4  g-3 custom-container">
      <app-product-card *ngFor="let p of products | productFilter:filterNombre" [producto]="p"></app-product-card>
    </div>
  </div>

</div>
