<div class="container-lg">
  <div class="col py-3">
    <div class="container my-1 mx-3 row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4  g-3 custom-container">
        <div class="col">
            <div class="card h-100" >
              <img class="card-img-top" src="images/Berlin_1.jpg" alt="Card image" style="width:100%">
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">Meissen Berlin - Coffee set</h4>
                <p class="card-text">Meissen porcelain coffee set from the 'Berlin' collection. Complete set including 2x cup & saucer, coffee pot, creamer, sugar bowl.</p>
                <a href="#" class="btn secondaryButton w-100 mt-auto">More information</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" >
              <img class="card-img-top" src="images/Berlin_2.jpg" alt="Card image" style="width:100%">
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">Meissen Berlin - Coffee cup & saucer</h4>
                <p class="card-text">Meissen porcelain coffee set from the 'Berlin' collection. Includes 2x cup & saucer.</p>
                <a href="#" class="btn secondaryButton w-100 mt-auto">More information</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" >
              <img class="card-img-top" src="images/Paris_1.jpg" alt="Card image" style="width:100%">
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">Meissen Paris - Coffee cup & saucer</h4>
                <p class="card-text">Meissen porcelain coffee set from the 'Paris' collection. Includes a cup and saucer.</p>
                <a href="#" class="btn secondaryButton w-100 mt-auto">More information</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" >
              <img class="card-img-top" src="images/bordallo.jpg" alt="Card image" style="width:100%">
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">Bordallo Pinheiro - Cabbage dish</h4>
                <p class="card-text">Bordallo Pinheiro Faianças Artísticas. Cabbage green large bowl.</p>
                <a href="#" class="btn secondaryButton w-100 mt-auto">More information</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" >
              <img class="card-img-top" src="images/prato_museu.jpg" alt="Card image" style="width:100%">
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">Bordallo Pinheiro - Prato Museu</h4>
                <p class="card-text">Bordallo Pinheiro Faianças Artísticas. Lobster in a basket shaped bowl.</p>
                <a href="#" class="btn secondaryButton w-100 mt-auto">More information</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" >
              <img class="card-img-top" src="images/cairngorm_cats and dogs.jpg" alt="Card image" style="width:100%">
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">Cairngorm Cats & Dogs</h4>
                <p class="card-text">Dunoon mugs, Cairngorm shape. Cats & Dogs</p>
                <a href="#" class="btn secondaryButton w-100 mt-auto">More information</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" >
              <img class="card-img-top" src="images/alt_spaten.jpg" alt="Card image" style="width:100%">
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">Robbe & Berking Alt Spaten</h4>
                <p class="card-text">Robbe & Berking silver tableware. Alt Spaten collection.</p>
                <a href="#" class="btn secondaryButton w-100 mt-auto">More information</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" >
              <img class="card-img-top" src="images/belvedere.jpg" alt="Card image" style="width:100%">
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">Robbe & Berking Belvedere</h4>
                <p class="card-text">Robbe & Berking silver tableware. Belvedere collection.</p>
                <a href="#" class="btn secondaryButton w-100 mt-auto">More information</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" >
              <img class="card-img-top" src="images/gien_fromages.png" alt="Card image" style="width:100%">
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">Gien Fromages - Camembert</h4>
                <p class="card-text">Texto de ejemplo sobre un paisaje. El paisaje es el conjunto de elementos de terreno y bioma.</p>
                <a href="#" class="btn secondaryButton w-100 mt-auto">More information</a>
              </div>
            </div>
        </div>

    </div>
  </div>

</div>
