<div class="container">
  <div class="card inner-main">
    <div class="card-header">
      User Profile
    </div>
    <div class="card-body">
      <p class="card-text">Name: <strong>{{UserProfile?.name}}</strong></p>
      <p class="card-text">Email: <strong>{{UserProfile?.email}}</strong></p>
      <p class="card-text">Address: <strong>{{UserProfile?.address}}</strong></p>
      <p class="card-text">Role: <strong>
         {{getRoleName(UserProfile?.id_role) | titlecase }}</strong></p>
    </div>
  </div>
  <div class="container my-3">
    <div class="row">
      <div class="col flex-grow-1">

      </div>
      <a class="btn primaryButton col-2 me-auto" href="editprofile">Edit Profile</a>
    </div>
  </div>
</div>
<div class="container my-2" *ngIf="UserProfile.id_role === 0">
  <!--List of all users visible to ADMINS-->
  <div class="h3">List of users</div>
  <div class="wrapper">
    <table
     mat-table
     [dataSource]="dataSource2"
     #sort1="matSort"
     matSort class="mat-elevation-z8"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration date </th>
        <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
      </ng-container>
      <ng-container matColumnDef="id_role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User type </th>
        <td mat-cell *matCellDef="let element"> {{getRoleName(element.id_role) | titlecase}} </td>
      </ng-container>
      <ng-container matColumnDef="promote">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
        <td mat-cell *matCellDef="let element"> <button *ngIf="element.id_role === 1"
          class="secondaryButton" (click)="promoteToAdmin(element.id)">Promote to admin</button> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- Angular 8 pagination -->
    <mat-paginator
      #paginator1="matPaginator"
      [pageSize]="3"
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
    ></mat-paginator>
  </div>

  <!--List of all purchases by all users visible to ADMINS-->
  <div class="h3">List of all purchased products</div>
    <div class="wrapper">
    <table
     mat-table
     [dataSource]="dataSource3"
     #sort2="matSort"
     matSort class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id_pedido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id_pedido}} </td>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount purchased </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
      </ng-container>
      <ng-container matColumnDef="id_prod">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
        <td mat-cell *matCellDef="let element"> {{getProductName(element.id_prod)}} </td>
      </ng-container>
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price per unit </th>
        <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
      </ng-container>
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration date </th>
        <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
    <mat-paginator
      #paginator2="matPaginator"
      [pageSize]="3"
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>

<!--Lists the purchase history of a particular USER-->
<div class="container my-2" *ngIf="UserProfile.id_role === 1">
  <div class="h3">List of your purchases</div>
  <div class="wrapper">
  <table
   mat-table
   [dataSource]="dataSource4"
   #sort3="matSort"
   matSort class="mat-elevation-z8"
  >
    <ng-container matColumnDef="id_pedido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Order ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id_pedido}} </td>
    </ng-container>
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount purchased </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>
    <ng-container matColumnDef="id_prod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
      <td mat-cell *matCellDef="let element"> {{getProductName(element.id_prod)}} </td>
    </ng-container>
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price per unit </th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
    </ng-container>
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of purchase </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
  </table>
  <mat-paginator
    #paginator3="matPaginator"
    [pageSize]="3"
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
  ></mat-paginator>
</div>
</div>

